@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--c-primary);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  line-height: 1.5;
  color: var(--c-text);
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #001529;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar a {
  color: #001529;
  text-decoration: none;
  padding: 10px 20px;
  background: #fff;
  margin-right: 10px;
}

.content-wrapper {
  position: relative;
  top: 64px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  top: 30px;
  border-radius: 6px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 8px 0px;
}

.default-btn {
  cursor: pointer;
  background: #001529;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  border-radius: 6px;
}

.default-btn:focus {
  outline: none;
}
